.event_page {
    background-color:bisque;
    height: 600px;
    width: 700px;
}
.heading{
    text-align: center;
    padding-top: 50px;
}
.form{
    width: 900px;
    height: 400px;
    background-color: aquamarine;
    margin: 20px auto;
}
.photo{
    height: 250px;
    width:250px;
    background-color: blue;
    margin-top: 50px;
    margin-left: 50px;
}
.img_circle{
    position: relative;
    border-radius:50%;
    height: 200px;
    width:200px;
    background-color: aliceblue;
    top: 25px;
    margin: auto;
}
.inputs{
    margin-top: 70px;
}